<table class="table table-striped">
    <thead>
      <tr>
        <!--(click) => dete salje output event emitter roditelju! event je ime. -->
        <th>Name <button class="btn btn-link"  (click)="onSortCriteriaChanged('name')"><span
              class="fa fa-sort"></span></button> </th>
        <th>Year<button class="btn btn-link"  (click)="onSortCriteriaChanged('publish_date')"><span
              class="fa fa-sort"></span></button> </th>
        <th >Rating <button class="btn btn-link"
          (click)="onSortCriteriaChanged('rating')"><span class="fa fa-sort"></span></button> </th>
      </tr>
    </thead>
    <tbody>
      <!--putanja iz ap routing modela, koja vodi na edit.-->
      <tr *ngFor="let i of game" [routerLink]="['/games/', i._id, 'details']">
        <td>{{i.name}}</td>
        <td>{{i.publish_date | date: 'yyyy'}}</td>
        <td>{{i.rating}}</td>
        <!--{{ dateObj | date }}               // output is 'Jun 15, 2015'
        {{ dateObj | date:'medium' }}      // output is 'Jun 15, 2015, 9:43:11 PM'
        {{ dateObj | date:'shortTime' }}   // output is '9:43 PM'
        {{ dateObj | date:'mmss' }}        // output is '43:11'
        {{dateObj  | date: 'dd-MM-yyyy'}} // 15/06/2015-->
        <!--
            <td><button class="btn btn-link"><span class="fa fa-remove" (click)="onDelete(itWine._id)"></span></button></td>
            <td><button class="btn btn-link"><span class="fa fa-edit" [routerLink]="['/wines/', itWine._id]"></span></button></td>-->
      </tr>
    </tbody>
  </table>
  
  
