<div class="row">
    <div class="col-8">
      <p>
        BoardGameGeek is an online forum for board gaming hobbyists and a game database that holds reviews, images and videos for over 101,000 different tabletop games, including European-style board games, wargames, and card games. In addition to the game database, the site allows users to rate games on a 1–10 scale and publishes a ranked list of board games.
      </p>
    </div>
    <div class="col-4">
      <h3>
        Author Information
      </h3>
      <p>Name: TODO - upisati ime i prezime.</p>
      <p>E-mail: TODO - upisati imejl.</p>
    </div>
  </div>
